<div class="sticky top-0 z-40 flex items-center justify-between gap-x-6 bg-[#2A004F] text-app px-4 py-4 shadow-xs sm:px-6">
  <button type="button"
          data-action="click->sidebar#open"
          data-sidebar-target="openBtn"
          class="-m-2.5 p-2.5 cursor-pointer hover:text-[#E9DFFC]">
    <span class="sr-only">Open sidebar</span>
    <%= render "application/icons/out_right", icon_class: "size-6" %>
  </button>


  <div class="flex gap-x-4 text-sm/6 font-medium place-items-center">
    <div>
      <%= link_to "https://x.com/RoRg7idev", target: :_blank, class: "hover:text-[#E9DFFC]" do %>
        <span class="sr-only">X</span>
        <%= render "application/icons/x", icon_class: "size-6" %>
      <% end %>
    </div>
    <div>
      <%= link_to "https://github.com/ograbowski", target: :_blank, class: "hover:text-[#E9DFFC]" do %>
        <span class="sr-only">GitHub</span>
        <%= render "application/icons/github", icon_class: "size-6" %>
      <% end %>
    </div>
  </div>

  <div>
    <%= link_to current_user.email.first.upcase, profile_path, class: "bg-[#6D28D9] rounded-lg py-2 px-4 shrink-0 hover:bg-[#5B21B6]" %>
  </div>
</div>