<!DOCTYPE html>
<html class="h-full bg-app text-app">
<head>
  <title><%= content_for(:title) || "Lina" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="h-full">
<div data-controller="sidebar" class="h-full flex">

  <%= tag.div notice, class: "notice", data: { turbo_temporary: true } if notice %>
  <%= tag.div alert, class: "alert", data: { turbo_temporary: true } if alert %>

  <% if current_user.present? %>
    <%= render "sidebar" %>
  <% end %>

  <!-- Główny kontener dla header i content -->
  <div class="flex-1 flex flex-col min-w-0 transition-all duration-300"
       data-sidebar-target="mainContent">

    <%= render "header" %>

    <main class="flex-1 pt-10 px-6 max-w-5xl mx-auto w-full">
      <%= yield %>
    </main>
  </div>
</div>
</body>
</html>